openapi: 3.0.3
info:
  title: DART
  description: DART에 공시되고있는 공시보고서 원문 등을 오픈API를 통해 활용할 수 있습니다. 활용을 원하시는 누구든지(개인, 기업, 기관 등) 이용하실 수 있습니다.
  version: 1.0.0
  contact:
    name: Open Dart 담당자
    url: https://opendart.fss.or.kr
    email: opendart@fss.or.kr
externalDocs:
  description: DART Open API 가이드
  url: https://opendart.fss.or.kr
servers:
  - url: https://opendart.fss.or.kr
    description: DART Open API
tags:
  - name: Disclosure Information
    description: 공시정보
  - name: Business Report
    description: 사업보고서
  - name: Financial
    description: 상장기업 재무정보
  - name: Equity Disclosure
    description: 지분공시 정보
  - name: Material Facts Report
    description: 주요사항 보고서
  - name: Registration Statements
    description: 증권신고서
paths:
  /api/list.json:
    get:
      tags:
        - Disclosure Information
      summary: 공시검색
      description: 공시 유형별, 회사별, 날짜별 등 여러가지 조건으로 공시보고서 검색기능을 제공합니다.
      operationId: list
      parameters:
        - $ref: '#/components/parameters/CorpCodeParam'
        - name: bgn_de
          in: query
          description: |-
            검색시작 접수일자(YYYYMMDD)
            1) 기본값 : 종료일(end_de)
            2) 고유번호(corp_code)가 없는 경우 검색기간은 3개월로 제한
          required: false
          schema:
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{8}$
        - name: end_de
          in: query
          description: |-
            검색종료 접수일자(YYYYMMDD)
            1) 기본값 : 당일
          required: false
          schema:
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{8}$
        - name: last_reprt_at
          in: query
          description: |-
            최종보고서만 검색여부(Y or N)
            1) 기본값 : N(정정이 있는 경우 최종정정만 검색)
          required: false
          schema:
            type: string
            enum:
              - Y
              - N
            default: N
        - name: pblntf_ty
          in: query
          required: false
          schema:
            type: string
            enum:
              - A
              - B
              - C
              - D
              - E
              - F
              - G
              - H
              - I
              - j
          description: |-
            공시유형
            | 코드 | 설명 |
            | --- | --- |
            | A | 정기공시 |
            | B | 주요사항보고 |
            | C | 발행공시 |
            | D | 지분공시 |
            | E | 기타공시 |
            | F | 외부감사관련 |
            | G | 펀드공시 |
            | H | 자산유동화 |
            | I | 거래소공시 |
            | j | 공정위공시 |
        - name: pblntf_detail_ty
          in: query
          required: false
          description: 공시상세유형
          schema:
            type: string
            minLength: 4
            maxLength: 4
        - name: corp_cls
          in: query
          required: false
          schema:
            type: string
            enum:
              - Y
              - K
              - N
              - E
          description: |-
            법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타)

            ※ 없으면 전체조회, **복수조건 불가**
        - name: sort
          in: query
          required: false
          description: |-
            정렬순서
            - 접수일자: date
            - 회사명 : crp
            - 보고서명 : rpt
            ※ 기본값 : date
          schema:
            type: string
            enum:
              - date
              - crp
              - rpt
            default: date
        - name: sort_mth
          in: query
          required: false
          description: |-
            정렬방법
            - 오름차순 : asc
            - 내림차순 : desc
            ※ 기본값 : desc
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: page_no
          in: query
          required: false
          description: 페이지 번호
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page_count
          in: query
          required: false
          description: 페이지 별 건수
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
      security:
        - ApiKeyAuth: []
  /api/company.json:
    get:
      tags:
        - Disclosure Information
      summary: 기업개황
      description: DART에 등록되어있는 기업의 개황정보를 제공합니다.
      operationId: company
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
      security:
        - ApiKeyAuth: []
  /api/document.xml:
    get:
      tags:
        - Disclosure Information
      summary: 공시문서
      description: DART에 공시된 문서를 제공합니다.
      operationId: document
      parameters:
        - name: rcept_no
          in: query
          required: true
          schema:
            type: string
            minLength: 14
            maxLength: 14
          description: |-
            공시문서의 접수번호(14자리)
            **※ 개발가이드 > 공시정보 > 접수번호 참고**
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommonError'
            application/x-msdownload:
              schema:
                type: string
                format: binary
      security:
        - ApiKeyAuth: []
  /api/corpCode.xml:
    get:
      tags:
        - Disclosure Information
      summary: 고유번호
      description: DART에 등록되어있는 공시대상회사의 고유번호,회사명,종목코드, 최근변경일자를 파일로 제공합니다.
      operationId: corpCode
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommonError'
            application/x-msdownload:
              schema:
                type: string
                format: binary
      security:
        - ApiKeyAuth: []
  /api/cndlCaplScritsNrdmpBlce.json:
    get:
      tags:
        - Business Report
      summary: 조건부 자본증권 미상환 잔액
      description: 정기보고서(사업, 분기, 반기보고서) 내에 조건부 자본증권 미상환 잔액을 제공합니다.
      operationId: cndlCaplScritsNrdmpBlce
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CndlCaplScritsNrdmpBlceResponse'
      security:
        - ApiKeyAuth: []
  /api/unrstExctvMendngSttus.json:
    get:
      tags:
        - Business Report
      summary: 미등기임원 보수현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 미등기임원 보수현황을 제공합니다.
      operationId: unrstExctvMendngSttus
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnrstExctvMendngSttusResponse'
      security:
        - ApiKeyAuth: []
  /api/cprndNrdmpBlce.json:
    get:
      tags:
        - Business Report
      summary: 회사채 미상환 잔액
      description: 정기보고서(사업, 분기, 반기보고서) 내에 회사채 미상환 잔액을 제공합니다.
      operationId: cprndNrdmpBlce
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CprndNrdmpBlceResponse'
  /api/srtpdPsndbtNrdmpBlce.json:
    get:
      tags:
        - Business Report
      summary: 단기사채 미상환 잔액
      description: 정기보고서(사업, 분기, 반기보고서) 내에 단기사채 미상환 잔액을 제공합니다.
      operationId: srtpdPsndbtNrdmpBlce
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SrtpdPsndbtNrdmpBlceResponse'
  /api/entrprsBilScritsNrdmpBlce.json:
    get:  
      tags:
        - Business Report
      summary: 기업어음증권 미상환 잔액
      description: 정기보고서(사업, 분기, 반기보고서) 내에 기업어음증권 미상환 잔액을 제공합니다.
      operationId: entrprsBilScritsNrdmpBlce
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntrprsBilScritsNrdmpBlceResponse'
  /api/detScritsIsuAcmslt.json:
    get:
      tags:
        - Business Report
      summary: 채무증권 발행실적
      description: 정기보고서(사업, 분기, 반기보고서) 내에 채무증권 발행실적을 제공합니다.
      operationId: detScritsIsuAcmslt
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetScritsIsuAcmsltResponse'
  /api/prvsrpCptalUseDtls.json:
    get:
      tags:
        - Business Report
      summary: 사모자금의 사용내역
      description: 정기보고서(사업, 분기, 반기보고서) 내에 사모자금의 사용내역을 제공합니다.
      operationId: prvsrpCptalUseDtls
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrvsrpCptalUseDtlsResponse'
  /api/pssrpCptalUseDtls.json:
    get:
      tags:
        - Business Report
      summary: 공모자금의 사용내역
      description: 정기보고서(사업, 분기, 반기보고서) 내에 공모자금의 사용내역을 제공합니다.
      operationId: pssrpCptalUseDtls
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PssrpCptalUseDtlsResponse'
  /api/drctrAdtAllMendngSttusGmtsckConfmAmount.json:
    get:
      tags:
        - Business Report
      summary: 이사·감사 전체의 보수현황(주주총회 승인금액)
      description: 정기보고서(사업, 분기, 반기보고서) 내에 이사·감사 전체의 보수현황(주주총회 승인금액)을 제공합니다.
      operationId: drctrAdtAllMendngSttusGmtsckConfmAmount
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrctrAdtAllMendngSttusGmtsckConfmAmountResponse'
  /api/drctrAdtAllMendngSttusMendngPymntamtTyCl.json:
    get:
      tags:
        - Business Report
      summary: 이사·감사 전체의 보수현황(보수지급금액 - 유형별)
      description: 정기보고서(사업, 분기, 반기보고서) 내에 이사·감사 전체의 보수현황(보수지급금액 - 유형별)을 제공합니다.
      operationId: drctrAdtAllMendngSttusMendngPymntamtTyCl
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrctrAdtAllMendngSttusMendngPymntamtTyClResponse'
  /api/stockTotqySttus.json:
    get:
      tags:
        - Business Report
      summary: 주식의 총수 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 주식의총수현황을 제공합니다.
      operationId: stockTotqySttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockTotqySttusResponse'
  /api/accnutAdtorNmNdAdtOpinion.json:
    get:
      tags:
        - Business Report
      summary: 회계감사인의 명칭 및 감사의견
      description: 정기보고서(사업, 분기, 반기보고서) 내에 회계감사인의 명칭 및 감사의견을 제공합니다.
      operationId: accnutAdtorNmNdAdtOpinion
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccnutAdtorNmNdAdtOpinionResponse'
  /api/adtServcCnclsSttus.json:
    get:
      tags:
        - Business Report
      summary: 감사용역체결현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 감사용역체결현황을 제공합니다.
      operationId: adtServcCnclsSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdtServcCnclsSttusResponse'
  /api/accnutAdtorNonAdtServcCnclsSttus.json:
    get:
      tags:
        - Business Report
      summary: 회계감사인과의 비감사용역 계약체결 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 회계감사인과의 비감사용역 계약체결 현황을 제공합니다.
      operationId: accnutAdtorNonAdtServcCnclsSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccnutAdtorNonAdtServcCnclsSttusResponse'
  /api/outcmpnyDrctrNdChangeSttus.json:
    get:
      tags:
        - Business Report
      summary: 사외이사 및 그 변동현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 사외이사 및 그 변동현황을 제공합니다.
      operationId: outcmpnyDrctrNdChangeSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutcmpnyDrctrNdChangeSttusResponse'
  /api/newCaplScritsNrdmpBlce.json:
    get:
      tags:
        - Business Report
      summary: 신종자본증권 미상환 잔액
      description: 정기보고서(사업, 분기, 반기보고서) 내에 신종자본증권 미상환 잔액을 제공합니다.
      operationId: newCaplScritsNrdmpBlce
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewCaplScritsNrdmpBlceResponse'
  /api/irdsSttus.json:
    get:
      tags:
        - Business Report
      summary: 증자(감자) 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 증자(감자) 현황을 제공합니다.
      operationId: irdsSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IrdsSttusResponse'
  /api/alotMatter.json:
    get:
      tags:
        - Business Report
      summary: 배당에 관한 사항
      description: 정기보고서(사업, 분기, 반기보고서) 내에 배당사항을 제공합니다.
      operationId: alotMatter
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlotMatterResponse'
  /api/tesstkAcqsDspsSttus.json:
    get:
      tags:
        - Business Report
      summary: 자기주식 취득 및 처분 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 자기주식 취득 및 처분 현황을 제공합니다.
      operationId: tesstkAcqsDspsSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TesstkAcqsDspsSttusResponse'
  /api/hyslrSttus.json:
    get:
      tags:
        - Business Report
      summary: 최대주주 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 최대주주 현황을 제공합니다.
      operationId: hyslrSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HyslrSttusResponse'
  /api/hyslrChgSttus.json:
    get:
      tags:
        - Business Report
      summary: 최대주주 변동현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 최대주주 변동현황을 제공합니다.
      operationId: hyslrChgSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HyslrChgSttusResponse'
  /api/mrhlSttus.json:
    get:
      tags:
        - Business Report
      summary: 소액주주 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 소액주주 현황을 제공합니다.
      operationId: mrhlSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MrhlSttusResponse'
  /api/exctvSttus.json:
    get:
      tags:
        - Business Report
      summary: 임원 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 임원 현황을 제공합니다.
      operationId: exctvSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExctvSttusResponse'
  /api/empSttus.json:
    get:
      tags:
        - Business Report
      summary: 직원 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 직원 현황을 제공합니다.
      operationId: empSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpSttusResponse'
  /api/hmvAuditIndvdlBySttus.json:
    get:
      tags:
        - Business Report
      summary: 이사·감사의 개인별 보수 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 이사·감사의 개인별 보수 현황을 제공합니다.
      operationId: hmvAuditIndvdlBySttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HmvAuditIndvdlBySttusResponse'
  /api/hmvAuditAllSttus.json:
    get:
      tags:
        - Business Report
      summary: 이사·감사 전체의 보수 현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 이사·감사 전체의 보수 현황을 제공합니다.
      operationId: hmvAuditAllSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HmvAuditAllSttusResponse'
  /api/indvdlByPay.json:
    get:
      tags:
        - Business Report
      summary: 개인별 보수지급 금액(5억이상 상위5인)
      description: 정기보고서(사업, 분기, 반기보고서) 내에 개인별 보수지급 금액(5억이상 상위5인)을 제공합니다.
      operationId: indvdlByPay
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndvdlByPayResponse'
  /api/otrCprInvstmntSttus.json:
    get:
      tags:
        - Business Report
      summary: 타법인 출자현황
      description: 정기보고서(사업, 분기, 반기보고서) 내에 타법인 출자현황을 제공합니다.
      operationId: otrCprInvstmntSttus
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtrCprInvstmntSttusResponse'
  /api/fnlttSinglAcnt.json:
    get:
      tags:
        - Financial
      summary: 단일회사 주요계정
      description: 상장법인(금융업 제외)이 제출한 정기보고서 내에 XBRL재무제표의 주요계정과목(재무상태표, 손익계산서)을 제공합니다.
      operationId: fnlttSinglAcnt
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FnlttSinglAcntResponse'
  /api/fnlttMultiAcnt.json:
    get:
      tags:
        - Financial
      summary: 다중회사 주요계정
      description: 상장법인(금융업 제외)이 제출한 정기보고서 내에 XBRL재무제표의 주요계정과목(재무상태표, 손익계산서)을 제공합니다. (상장법인 복수조회 가능)
      operationId: fnlttMultiAcnt
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FnlttMultiAcntResponse'
  /api/fnlttXbrl.xml:
    get:
      tags:
        - Financial
      summary: XBRL재무제표
      description: 상장법인(금융업 제외)이 제출한 정기보고서 내에 XBRL재무제표를 제공합니다.
      operationId: fnlttXbrl
      security:
        - ApiKeyAuth: []
      parameters:
        - name: rcept_no
          in: query
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 8
          description: |-
            접수번호 *※ 조회방법 : 공시검색API 호출 > 응답요청 값 rcept_no 추출*
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommonError'
            application/x-msdownload:
              schema:
                type: string
                format: binary
  /api/fnlttSinglAcntAll.json:
    get:
      tags:
        - Financial
      summary: 단일회사 전체 재무제표
      description: 상장법인(금융업 제외)이 제출한 정기보고서 내에 XBRL재무제표의 모든계정과목을 제공합니다.
      operationId: fnlttSinglAcntAll
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredReportCodeParam'
        - $ref: '#/components/parameters/RequiredBusinessYearAfter2015Param'
        - name: fs_div
          in: query
          required: true
          schema:
            type: string
            enum:
              - CFS
              - OFS
          description: |-
            개별/연결구분
            - CFS: 연결재무제표
            - OFS: 재무제표
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FnlttSinglAcntAllResponse'
  /api/xbrlTaxonomy.json:
    get:
      tags:
        - Financial
      summary: XBRL택사노미재무제표양식
      description: 금융감독원 회계포탈에서 제공하는 IFRS 기반 XBRL 재무제표 공시용 표준계정과목체계(계정과목) 을 제공합니다.
      operationId: xbrlTaxonomy
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sj_div
          in: query
          required: true
          schema:
            type: string
            enum:
              - BS1
              - BS2
              - BS3
              - BS4
              - IS1
              - IS2
              - IS3
              - IS4
              - CIS1
              - CIS2
              - CIS3
              - CIS4
              - DCIS1
              - DCIS2
              - DCIS3
              - DCIS4
              - DCIS5
              - DCIS6
              - DCIS7
              - DCIS8
              - CF1
              - CF2
              - CF3
              - CF4
              - SCE1
              - SCE2
          description: |-
            | 재무제표구분 | 재무제표명칭 | 개별/연결 | 표시방법 | 세전세후 |
            | :---: | :---: | :---: | :---: | :---: |
            | BS1 | 재무상태표 | 연결 | 유동/비유동법 | |
            | BS2 | 재무상태표 | 개별 | 유동/비유동법 | |
            | BS3 | 재무상태표 | 연결 | 유동성배열법 | |
            | BS4 | 재무상태표 | 개별 | 유동성배열법 | |
            | IS1 | 별개의 손익계산서 | 연결 | 기능별분류 | |
            | IS2 | 별개의 손익계산서 | 개별 | 기능별분류 | |
            | IS3 | 별개의 손익계산서 | 연결 | 성격별분류 | |
            | IS4 | 별개의 손익계산서 | 개별 | 성격별분류 | |
            | CIS1 | 포괄손익계산서 | 연결 | 세후 | |
            | CIS2 | 포괄손익계산서 | 개별 | 세후 | |
            | CIS3 | 포괄손익계산서 | 연결 | 세전 | |
            | CIS4 | 포괄손익계산서 | 개별 | 세전 | |
            | DCIS1 | 단일 포괄손익계산서 | 연결 | 기능별분류 | 세후포괄손익 |
            | DCIS2 | 단일 포괄손익계산서 | 개별 | 기능별분류 | 세후포괄손익 |
            | DCIS3 | 단일 포괄손익계산서 | 연결 | 기능별분류 | 세전 |
            | DCIS4 | 단일 포괄손익계산서 | 개별 | 기능별분류 | 세전 |
            | DCIS5 | 단일 포괄손익계산서 | 연결 | 성격별분류 | 세후포괄손익 |
            | DCIS6 | 단일 포괄손익계산서 | 개별 | 성격별분류 | 세후포괄손익 |
            | DCIS7 | 단일 포괄손익계산서 | 연결 | 성격별분류 | 세전 |
            | DCIS8 | 단일 포괄손익계산서 | 개별 | 성격별분류 | 세전 |
            | CF1 | 현금흐름표 | 연결 | 직접법 | |
            | CF2 | 현금흐름표 | 개별 | 직접법 | |
            | CF3 | 현금흐름표 | 연결 | 간접법 | |
            | CF4 | 현금흐름표 | 개별 | 간접법 | |
            | SCE1 | 자본변동표 | 연결 |  | |
            | SCE2 | 자본변동표 | 개별 |  | |
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XbrlTaxonomyResponse'
  /api/majorstock.json:
    get:
      tags:
        - Equity Disclosure
      summary: 대량보유 상황보고
      description: 주식등의 대량보유상황보고서 내에 대량보유 상황보고 정보를 제공합니다.
      operationId: majorstock
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MajorStockResponse'
  /api/elestock.json:
    get:
      tags:
        - Equity Disclosure
      summary: 임원ㆍ주요주주 소유보고
      description: 임원ㆍ주요주주특정증권등 소유상황보고서 내에 임원ㆍ주요주주 소유보고 정보를 제공합니다.
      operationId: elestock
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EleStockResponse'
  /api/dfOcr.json:
    get:
      tags:
        - Material Facts Report
      summary: 부도발생
      description: 주요사항보고서(부도발생) 내에 주요 정보를 제공합니다.
      operationId: dfOcr
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfOcrResponse'
  /api/bsnSp.json:
    get:
      tags:
        - Material Facts Report
      summary: 영업정지
      description: 주요사항보고서(영업정지) 내에 주요 정보를 제공합니다.
      operationId: bsnSp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BsnSpResponse'
  /api/ctrcvsBgrq.json:
    get:
      tags:
        - Material Facts Report
      summary: 회생절차 개시신청
      description: 주요사항보고서(회생절차 개시신청) 내에 주요 정보를 제공합니다.
      operationId: ctrcvsBgrq
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CtrcvsBgrqResponse'
  /api/dsRsOcr.json:
    get:
      tags:
        - Material Facts Report
      summary: 해산사유 발생
      description: 주요사항보고서(해산사유 발생) 내에 주요 정보를 제공합니다.
      operationId: dsRsOcr
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DsRsOcrResponse'
  /api/piicDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 유상증자 결정
      description: 주요사항보고서(유상증자 결정) 내에 주요 정보를 제공합니다.
      operationId: piicDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiicDecsnResponse'
  /api/fricDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 무상증자 결정
      description: 주요사항보고서(무상증자 결정) 내에 주요 정보를 제공합니다.
      operationId: fricDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FricDecsnResponse'
  /api/pifricDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 유무상증자 결정
      description: 주요사항보고서(유무상증자 결정) 내에 주요 정보를 제공합니다.
      operationId: pifricDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PifricDecsnResponse'
  /api/crDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 감자 결정
      description: 주요사항보고서(감자 결정) 내에 주요 정보를 제공합니다.
      operationId: crDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrDecsnResponse'
  /api/bnkMngtPcbg.json:
    get:
      tags:
        - Material Facts Report
      summary: 채권은행 등의 관리절차 개시
      description: 주요사항보고서(채권은행 등의 관리절차 개시) 내에 주요 정보를 제공합니다.
      operationId: bnkMngtPcbg
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BnkMngtPcbgResponse'
  /api/lwstLg.json:
    get:
      tags:
        - Material Facts Report
      summary: 소송 등의 제기
      description: 주요사항보고서(소송 등의 제기) 내에 주요 정보를 제공합니다.
      operationId: lwstLg
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LwstLgResponse'
  /api/ovLstDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 해외 증권시장 주권등 상장 결정
      description: 주요사항보고서(해외 증권시장 주권등 상장 결정) 내에 주요 정보를 제공합니다.
      operationId: ovLstDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvLstDecsnResponse'
  /api/ovDlstDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 해외 증권시장 주권등 상장폐지 결정
      description: 주요사항보고서(해외 증권시장 주권등 상장폐지 결정) 내에 주요 정보를 제공합니다.
      operationId: ovDlstDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvDlstDecsnResponse'
  /api/ovLst.json:
    get:
      tags:
        - Material Facts Report
      summary: 해외 증권시장 주권등 상장
      description: 주요사항보고서(해외 증권시장 주권등 상장) 내에 주요 정보를 제공합니다.
      operationId: ovLst
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvLstResponse'
  /api/ovDlst.json:
    get:
      tags:
        - Material Facts Report
      summary: 해외 증권시장 주권등 상장폐지
      description: 주요사항보고서(해외 증권시장 주권등 상장폐지) 내에 주요 정보를 제공합니다.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OvDlstResponse'
  /api/cvbdIsDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 전환사채권 발행결정
      description: 주요사항보고서(전환사채권 발행결정) 내에 주요 정보를 제공합니다.
      operationId: cvbdIsDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvbdIsDecsnResponse'
  /api/bdwtIsDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 신주인수권부사채권 발행결정
      description: 주요사항보고서(신주인수권부사채권 발행결정) 내에 주요 정보를 제공합니다.
      operationId: bdwtIsDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BdwtIsDecsnResponse'
  /api/exbdIsDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 교환사채권 발행결정
      description: 주요사항보고서(교환사채권 발행결정) 내에 주요 정보를 제공합니다.
      operationId: exbdIsDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExbdIsDecsnResponse'
  /api/bnkMngtPcsp.json:
    get:
      tags:
        - Material Facts Report
      summary: 채권은행 등의 관리절차 중단
      description: 주요사항보고서(채권은행 등의 관리절차 중단) 내에 주요 정보를 제공합니다.
      operationId: bnkMngtPcsp
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BnkMngtPcspResponse'
  /api/wdCocobdIsDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 상각형 조건부자본증권 발행결정
      description: 주요사항보고서(상각형 조건부자본증권 발행결정) 내에 주요 정보를 제공합니다.
      operationId: wdCocobdIsDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WdCocobdIsDecsnResponse'
  /api/astInhtrfEtcPtbkOpt.json:
    get:
      tags:
        - Material Facts Report
      summary: 자산양수도(기타), 풋백옵션
      description: 주요사항보고서(자산양수도(기타), 풋백옵션) 내에 주요 정보를 제공합니다.
      operationId: astInhtrfEtcPtbkOpt
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstInhtrfEtcPtbkOptResponse'
  /api/otcprStkInvscrTrfDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 타법인 주식 및 출자증권 양도결정
      description: 주요사항보고서(타법인 주식 및 출자증권 양도결정) 내에 주요 정보를 제공합니다.
      operationId: otcprStkInvscrTrfDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcprStkInvscrTrfDecsnResponse'
  /api/tgastTrfDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 유형자산 양도 결정
      description: 주요사항보고서(유형자산 양도 결정) 내에 주요 정보를 제공합니다.
      operationId: tgastTrfDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TgastTrfDecsnResponse'
  /api/tgastInhDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 유형자산 양수 결정
      description: 주요사항보고서(유형자산 양수 결정) 내에 주요 정보를 제공합니다.
      operationId: tgastInhDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TgastInhDecsnResponse'
  /otcprStkInvscrInhDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 타법인 주식 및 출자증권 양수결정
      description: 주요사항보고서(타법인 주식 및 출자증권 양수결정) 내에 주요 정보를 제공합니다.
      operationId: otcprStkInvscrInhDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcprStkInvscrInhDecsnResponse'
  /api/bsnTrfDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 영업양도 결정
      description: 주요사항보고서(영업양도 결정) 내에 주요 정보를 제공합니다.
      operationId: bsnTrfDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BsnTrfDecsnResponse'
  /api/bsnInhDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 영업양수 결정
      description: 주요사항보고서(영업양수 결정) 내에 주요 정보를 제공합니다.
      operationId: bsnInhDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BsnInhDecsnResponse'
  /api/tsstkAqTrctrCcDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 자기주식취득 신탁계약 해지 결정
      description: 주요사항보고서(자기주식취득 신탁계약 해지 결정) 내에 주요 정보를 제공합니다.
      operationId: tsstkAqTrctrCcDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TsstkAqTrctrCcDecsnResponse'
  /api/tsstkAqTrctrCnsDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 자기주식취득 신탁계약 체결 결정
      description: 주요사항보고서(자기주식취득 신탁계약 체결 결정) 내에 주요 정보를 제공합니다.
      operationId: tsstkAqTrctrCnsDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TsstkAqTrctrCnsDecsnResponse'
  /api/tsstkDpDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 자기주식 처분 결정
      description: 주요사항보고서(자기주식 처분 결정) 내에 주요 정보를 제공합니다.
      operationId: tsstkDpDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TsstkDpDecsnResponse'
  /api/tsstkAqDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 자기주식 취득 결정
      description: 주요사항보고서(자기주식 취득 결정) 내에 주요 정보를 제공합니다.
      operationId: tsstkAqDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TsstkAqDecsnResponse'
  /api/stkExtrDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 주식교환·이전 결정
      description: 주요사항보고서(주식교환·이전 결정) 내에 주요 정보를 제공합니다.
      operationId: stkExtrDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StkExtrDecsnResponse'
  /api/cmpDvmgDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 회사분할합병 결정
      description: 주요사항보고서(회사분할합병 결정) 내에 주요 정보를 제공합니다.
      operationId: cmpDvmgDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmpDvmgDecsnResponse'
  /api/cmpDvDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 회사분할 결정
      description: 주요사항보고서(회사분할 결정) 내에 주요 정보를 제공합니다.
      operationId: cmpDvDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmpDvDecsnResponse'
  /api/cmpMgDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 회사합병 결정
      description: 주요사항보고서(회사합병 결정) 내에 주요 정보를 제공합니다.
      operationId: cmpMgDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmpMgDecsnResponse'
  /api/stkrtbdInhDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 주권 관련 사채권 양수 결정
      description: 주요사항보고서(주권 관련 사채권 양수 결정) 내에 주요 정보를 제공합니다.
      operationId: stkrtbdInhDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StkrtbdInhDecsnResponse'
  /api/stkrtbdTrfDecsn.json:
    get:
      tags:
        - Material Facts Report
      summary: 주권 관련 사채권 양도 결정
      description: 주요사항보고서(주권 관련 사채권 양도 결정) 내에 주요 정보를 제공합니다.
      operationId: stkrtbdTrfDecsn
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StkrtbdTrfDecsnResponse'
  /api/extrRs.json:
    get:
      tags:
        - Registration Statements
      summary: 주식의포괄적교환·이전
      description: 주식의포괄적교환·이전 내에 주요 정보를 제공합니다.
      operationId: extrRs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtrRsResponse'
  /api/mgRs.json:
    get:
      tags:
        - Registration Statements
      summary: 합병
      description: 합병 내에 주요 정보를 제공합니다.
      operationId: mgRs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MgRsResponse'
  /api/stkdpRs.json:
    get:
      tags:
        - Registration Statements
      summary: 증권예탁증권
      description: 증권예탁증권 내에 주요 정보를 제공합니다.
      operationId: stkdpRs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StkdpRsResponse'
  /api/bdRs.json:
    get:
      tags:
        - Registration Statements
      summary: 채무증권
      description: 채무증권 내에 주요 정보를 제공합니다.
      operationId: bdRs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BdRsResponse'
  /api/estkRs.json:
    get:
      tags:
        - Registration Statements
      summary: 지분증권
      description: 지분증권 내에 주요 정보를 제공합니다.
      operationId: estkRs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstkRsResponse'
  /api/dvRs.json:
    get:
      tags:
        - Registration Statements
      summary: 분할
      description: 분할 내에 주요 정보를 제공합니다.
      operationId: dvRs
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/RequiredCorpCodeParam'
        - $ref: '#/components/parameters/RequiredBeginDateParam'
        - $ref: '#/components/parameters/RequiredEndDateParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvRsResponse'
components:
  parameters:
    CorpCodeParam:
      name: corp_code
      in: query
      required: false
      schema:
        type: string
        minLength: 8
        maxLength: 8
      description: |-
        공시대상회사의 고유번호(8자리)
        **※ 개발가이드 > 공시정보 > 고유번호 참고**
      example: '00126380'
    RequiredCorpCodeParam:
      name: corp_code
      in: query
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 8
      description: |-
        공시대상회사의 고유번호(8자리)
        **※ 개발가이드 > 공시정보 > 고유번호 참고**
    RequiredReportCodeParam:
      name: reprt_code
      in: query
      required: true
      schema:
        type: string
        enum:
          - '11011'
          - '11012'
          - '11013'
          - '11014'
      description: |-
        보고서코드
        - 사업보고서 : 11011
        - 반기보고서 : 11012
        - 1분기보고서 : 11013
        - 3분기보고서 : 11014
      example: '11011'
    RequiredBusinessYearParam:
      name: bsns_year
      in: query
      required: true
      schema:
        type: string
        minLength: 4
        maxLength: 4
      description: 사업연도(4자리)
      example: '2019'
    RequiredBusinessYearAfter2015Param:
      name: bsns_year
      in: query
      required: true
      schema:
        type: string
        minLength: 4
        maxLength: 4
      description: 사업연도(4자리) **※ 2015년 이후 부터 정보제공**
      example: '2019'
    RequiredBeginDateParam:
      name: bgn_de
      in: query
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 8
      description: 검색시작 접수일자(YYYYMMDD) **※ 2015년 이후 부터 정보제공**
      example: '20190101'
    RequiredEndDateParam:
      name: end_de
      in: query
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 8
      description: 검색종료 접수일자(YYYYMMDD) **※ 2015년 이후 부터 정보제공**
      example: '20191231'
  schemas:
    CorpCls:
      type: string
      enum:
        - 'Y'
        - 'K'
        - 'N'
        - 'E'
      description: |-
        법인구분
        | 코드 | 설명 |
        | --- | --- |
        | Y | 유가 |
        | K | 코스닥 |
        | N | 코넥스 |
        | E | 기타|
      example: 'Y'
    RceptNo:
      type: string
      description: |-
        접수번호(14자리)
        ※ 공시뷰어 연결에 이용예시
        - PC용 : https://dart.fss.or.kr/dsaf001/main.do?rcpNo=접수번호
    CorpCode:
      type: string
      description: 공시대상회사의 고유번호(8자리)
    CorpName:
      type: string
      description: 회사명
    BusinessYear:
      type: string
      minLength: 4
      maxLength: 4
      description: 사업연도(4자리)
    ReportCode:
      type: string
      enum:
        - '11011'
        - '11012'
        - '11013'
        - '11014'
      description: |-
        보고서코드
        - 사업보고서 : 11011
        - 반기보고서 : 11012
        - 1분기보고서 : 11013
        - 3분기보고서 : 11014
      example: '11011'
    CommonSuccessHeader:
      type: object
      properties:
        status:
          type: string
          enum:
            - '000'
          description: 에러 및 정보 코드
        message:
          type: string
          description: 응답메시지
          example: 에러 및 정보 메시지
      required:
        - status
        - message
    Pagination:
      type: object
      properties:
        page_no:
          type: integer
          description: 페이지 번호
          example: 1
        page_count:
          type: integer
          description: 페이지 별 건수
          example: 10
        total_count:
          type: integer
          description: 총 건수
          example: 100
        total_page:
          type: integer
          description: 총 페이지 수
          example: 10
      required:
        - page_no
        - page_count
        - total_count
        - total_page
    CommonError:
      type: object
      properties:
        status:
          type: string
          enum:
            - '010'
            - '011'
            - '012'
            - '013'
            - '014'
            - '020'
            - '021'
            - '100'
            - '101'
            - '800'
            - '900'
            - '901'
          description: |-
            에러 및 정보 코드
            | 코드 | 설명 |
            | --- | --- |
            | 010 | 등록되지 않은 키입니다. |
            | 011 | 사용할 수 없는 키입니다. 오픈API에 등록되었으나, 일시적으로 사용 중지된 키를 통하여 검색하는 경우 발생합니다. |
            | 012 | 접근할 수 없는 IP입니다. |
            | 013 | 조회된 데이타가 없습니다. |
            | 014 | 파일이 존재하지 않습니다. |
            | 020 | 요청 제한을 초과하였습니다. 일반적으로는 10,000건 이상의 요청에 대하여 이 에러 메시지가 발생되나, 요청 제한이 다르게 설정된 경우에는 이에 준하여 발생됩니다. |
            | 021 | 조회 가능한 회사 개수가 초과하였습니다.(최대 100건) |
            | 100 | 필드의 부적절한 값입니다. 필드 설명에 없는 값을 사용한 경우에 발생하는 메시지입니다. |
            | 101 | 부적절한 접근입니다. |
            | 800 | 시스템 점검으로 인한 서비스가 중지 중입니다. |
            | 900 | 정의되지 않은 오류가 발생하였습니다. |
            | 901 | 사용자 계정의 개인정보 보유기간이 만료되어 사용할 수 없는 키입니다. 관리자 이메일(opendart@fss.or.kr)로 문의하시기 바랍니다. |
        message:
          type: string
          description: 에러 및 정보 메시지
      required:
        - status
        - message
      xml:
        name: result
    ListResponse:
      oneOf:
        - $ref: '#/components/schemas/ListResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    ListResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/ListResponseItem'
          required:
            - list
    ListResponseItem:
      type: object
      properties:
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        stock_code:
          type: string
          description: 상장회사의 종목코드(6자리)
        report_nm:
          type: string
          description: |-
            보고서명 (공시구분+보고서명+기타정보)
            - [기재정정] : 본 보고서명으로 이미 제출된 보고서의 기재내용이 변경되어 제출된 것임
            - [첨부정정] : 본 보고서명으로 이미 제출된 보고서의 첨부내용이 변경되어 제출된 것임
            - [첨부추가] : 본 보고서명으로 이미 제출된 보고서의 첨부서류가 추가되어 제출된 것임
            - [변경등록] : 본 보고서명으로 이미 제출된 보고서의 유동화계획이 변경되어 제출된 것임
            - [연장결정] : 본 보고서명으로 이미 제출된 보고서의 신탁계약이 연장되어 제출된 것임
            - [발행조건확정] : 본 보고서명으로 이미 제출된 보고서의 유가증권 발행조건이 확정되어 제출된 것임
            - [정정명령부과] : 본 보고서에 대하여 금융감독원이 정정명령을 부과한 것임
            - [정정제출요구] : 본 보고서에 대하여 금융감독원이 정정제출요구을 부과한 것임
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        flr_nm:
          type: string
          description: 공시 제출인명
        rcept_dt:
          type: string
          format: ^\d{8}$
          description: 공시 접수일자(YYYYMMDD)
        rm:
          type: string
          description: |-
            비고
            조합된 문자로 각각은 아래와 같은 의미가 있음
            - 유 : 본 공시사항은 한국거래소 유가증권시장본부 소관임
            - 코 : 본 공시사항은 한국거래소 코스닥시장본부 소관임
            - 채 : 본 문서는 한국거래소 채권상장법인 공시사항임
            - 넥 : 본 문서는 한국거래소 코넥스시장 소관임
            - 공 : 본 공시사항은 공정거래위원회 소관임
            - 연 : 본 보고서는 연결부분을 포함한 것임
            - 정 : 본 보고서 제출 후 정정신고가 있으니 관련 보고서를 참조하시기 바람
            - 철 : 본 보고서는 철회(간주)되었으니 관련 철회신고서(철회간주안내)를 참고하시기 바람
      required:
        - corp_cls
        - corp_code
        - stock_code
        - report_nm
        - rcept_no
        - flr_nm
        - rcept_dt
        - rm
    CompanyResponse:
      oneOf:
        - $ref: '#/components/schemas/CompanyResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    CompanyResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            corp_name:
              $ref: '#/components/schemas/CorpName'
            corp_name_eng:
              type: string
              description: 영문정식회사명칭
            stock_name:
              type: string
              description: 종목명(상장사) 또는 약식명칭(기타법인)
            stock_code:
              type: string
              description: 상장회사인 경우 주식의 종목코드(6자리)
            ceo_nm:
              type: string
              description: 대표자명
            corp_cls:
              $ref: '#/components/schemas/CorpCls'
            jurir_no:
              type: string
              description: 법인등록번호
            bizr_no:
              type: string
              description: 사업자등록번호
            adres:
              type: string
              description: 주소
            hm_url:
              type: string
              description: 홈페이지주소
            ir_url:
              type: string
              description: IR홈페이지
            phn_no:
              type: string
              description: 전화번호
            fax_no:
              type: string
              description: 팩스번호
            induty_code:
              type: string
              description: 업종코드
            est_dt:
              type: string
              format: ^\d{8}$
              maxLength: 8
              minLength: 8
              description: 설립일(YYYYMMDD)
            acc_mt:
              type: string
              description: 결산월
              format: ^\d{2}$
              maxLength: 2
              minLength: 2
          required:
            - corp_name
            - corp_name_eng
            - stock_name
            - stock_code
            - ceo_nm
            - corp_cls
            - jurir_no
            - bizr_no
            - adres
            - hm_url
            - ir_url
            - phn_no
            - fax_no
            - induty_code
            - est_dt
            - acc_mt
    CndlCaplScritsNrdmpBlceResponse:
      oneOf:
        - $ref: '#/components/schemas/CndlCaplScritsNrdmpBlceResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    CndlCaplScritsNrdmpBlceResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/CndlCaplScritsNrdmpBlceItem'
          required:
            - list
    CndlCaplScritsNrdmpBlceItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        remndr_exprtn1:
          type: string
          description: 잔여만기
        remndr_exprtn2:
          type: string
          description: 잔여만기
        yy1_below:
          type: string
          description: 1년 이하
          example: '9,999,999,999'
        yy1_excess_yy2_below:
          type: string
          description: 1년 초과 2년 이하
          example: '9,999,999,999'
        yy2_excess_yy3_below:
          type: string
          description: 2년 초과 3년 이하
          example: '9,999,999,999'
        yy3_excess_yy4_below:
          type: string
          description: 3년 초과 4년 이하
          example: '9,999,999,999'
        yy4_excess_yy5_below:
          type: string
          description: 4년 초과 5년 이하
          example: '9,999,999,999'
        yy5_excess_yy10_below:
          type: string
          description: 5년 초과 10년 이하
          example: '9,999,999,999'
        yy10_excess_yy20_below:
          type: string
          description: 10년 초과 20년 이하
          example: '9,999,999,999'
        yy20_excess_yy30_below:
          type: string
          description: 20년 초과 30년 이하
          example: '9,999,999,999'
        yy30_excess:
          type: string
          description: 30년 초과
          example: '9,999,999,999'
        sm:
          type: string
          description: 합계
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - remndr_exprtn1
        - remndr_exprtn2
        - yy1_below
        - yy1_excess_yy2_below
        - yy2_excess_yy3_below
        - yy3_excess_yy4_below
        - yy4_excess_yy5_below
        - yy5_excess_yy10_below
        - yy10_excess_yy20_below
        - yy20_excess_yy30_below
        - yy30_excess
        - sm
    UnrstExctvMendngSttusResponse:
      oneOf:
        - $ref: '#/components/schemas/UnrstExctvMendngSttusResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    UnrstExctvMendngSttusResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/UnrstExctvMendngSttusItem'
          required:
            - list
    UnrstExctvMendngSttusItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        se:
          type: string
          description: 구분(미등기임원)
        nmpr:
          type: string
          description: 인원수
          example: '9,999,999,999'
        fyer_salary_totamt:
          type: string
          description: 연간급여 총액
          example: '9,999,999,999'
        jan_salary_am:
          type: string
          description: 1인평균 급여액
          example: '9,999,999,999'
        rm:
          type: string
          description: 비고
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - se
        - nmpr
        - fyer_salary_totamt
        - jan_salary_am
        - rm
    CprndNrdmpBlceResponse:
      oneOf:
        - $ref: '#/components/schemas/CprndNrdmpBlceResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    CprndNrdmpBlceResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/CprndNrdmpBlceItem'
          required:
            - list
    CprndNrdmpBlceItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        remndr_exprtn1:
          type: string
          description: 잔여만기
        remndr_exprtn2:
          type: string
          description: 잔여만기
        yy1_below:
          type: string
          description: 1년 이하
          example: '9,999,999,999'
        yy1_excess_yy2_below:
          type: string
          description: 1년 초과 2년 이하
          example: '9,999,999,999'
        yy2_excess_yy3_below:
          type: string
          description: 2년 초과 3년 이하
          example: '9,999,999,999'
        yy3_excess_yy4_below:
          type: string
          description: 3년 초과 4년 이하
          example: '9,999,999,999'
        yy4_excess_yy5_below:
          type: string
          description: 4년 초과 5년 이하
          example: '9,999,999,999'
        yy5_excess_yy10_below:
          type: string
          description: 5년 초과 10년 이하
          example: '9,999,999,999'
        yy10_excess:
          type: string
          description: 10년 초과
          example: '9,999,999,999'
        sm:
          type: string
          description: 합
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - remndr_exprtn1
        - remndr_exprtn2
        - yy1_below
        - yy1_excess_yy2_below
        - yy2_excess_yy3_below
        - yy3_excess_yy4_below
        - yy4_excess_yy5_below
        - yy5_excess_yy10_below
        - yy10_excess
        - sm
    SrtpdPsndbtNrdmpBlceResponse:
      oneOf:
        - $ref: '#/components/schemas/SrtpdPsndbtNrdmpBlceResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    SrtpdPsndbtNrdmpBlceResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/SrtpdPsndbtNrdmpBlceItem'
          required:
            - list
    SrtpdPsndbtNrdmpBlceItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        remndr_exprtn1:
          type: string
          description: 잔여만기
        remndr_exprtn2:
          type: string
          description: 잔여만기
        de10_below:
          type: string
          description: 10일 이하
          example: '9,999,999,999'
        de10_excess_de30_below:
          type: string
          description: 10일 초과 30일 이하
          example: '9,999,999,999'
        de30_excess_de90_below:
          type: string
          description: 30일 초과 90일 이하
          example: '9,999,999,999'
        de90_excess_de180_below:
          type: string
          description: 90일 초과 180일 이하
          example: '9,999,999,999'
        de180_excess_yy1_below:
          type: string
          description: 180일 초과 1년 이하
          example: '9,999,999,999'
        sm:
          type: string
          description: 합계
          example: '9,999,999,999'
        isn_lmt:
          type: string
          description: 발행 한도
          example: '9,999,999,999'
        remndr_lmt:
          type: string
          description: 잔여 한도
          example: '9,999,999,999'
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - remndr_exprtn1
        - remndr_exprtn2
        - de10_below
        - de10_excess_de30_below
        - de30_excess_de90_below
        - de90_excess_de180_below
        - de180_excess_yy1_below
        - sm
        - isn_lmt
        - remndr_lmt
    EntrprsBilScritsNrdmpBlceResponse:
      oneOf:
        - $ref: '#/components/schemas/EntrprsBilScritsNrdmpBlceResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    EntrprsBilScritsNrdmpBlceResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/EntrprsBilScritsNrdmpBlceItem'
          required:
            - list
    EntrprsBilScritsNrdmpBlceItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        remndr_exprtn1:
          type: string
          description: 잔여만기
        remndr_exprtn2:
          type: string
          description: 잔여만기
        de10_below:
          type: string
          description: 10일 이하
          example: '9,999,999,999'
        de10_excess_de30_below:
          type: string
          description: 10일 초과 30일 이하
          example: '9,999,999,999'
        de30_excess_de90_below:
          type: string
          description: 30일 초과 90일 이하
          example: '9,999,999,999'
        de90_excess_de180_below:
          type: string
          description: 90일 초과 180일 이하
          example: '9,999,999,999'
        de180_excess_yy1_below:
          type: string
          description: 180일 초과 1년 이하
          example: '9,999,999,999'
        yy1_excess_yy2_below:
          type: string
          description: 1년 초과 2년 이하
          example: '9,999,999,999'
        yy2_excess_yy3_below:
          type: string
          description: 2년 초과 3년 이하
          example: '9,999,999,999'
        yy3_excess:
          type: string
          description: 3년 초과
          example: '9,999,999,999'
        sm:
          type: string
          description: 합계
          example: '9,999,999,999'
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - remndr_exprtn1
        - remndr_exprtn2
        - de10_below
        - de10_excess_de30_below
        - de30_excess_de90_below
        - de90_excess_de180_below
        - de180_excess_yy1_below
        - yy1_excess_yy2_below
        - yy2_excess_yy3_below
        - yy3_excess
        - sm
    DetScritsIsuAcmsltResponse:
      oneOf:
        - $ref: '#/components/schemas/DetScritsIsuAcmsltResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    DetScritsIsuAcmsltResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/DetScritsIsuAcmsltItem'
          required:
            - list
    DetScritsIsuAcmsltItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        isu_cmpny:
          type: string
          description: 발행회사
        scrits_knd_nm:
          type: string
          description: 증권종류
        isu_mth_nm:
          type: string
          description: 발행방법
        isu_de:
          type: string
          description: 발행일자
        facvalu_totamt:
          type: string
          description: 권면(전자등록)총액
          example: '9,999,999,999'
        intrt:
          type: string
          description: 이자율
          example: '0.00'
        evl_grad_instt:
          type: string
          description: 평가등급(평가기관)
        mtd:
          type: string
          description: 만기일
        repy_at:
          type: string
          description: 상환여부
        mngt_cmpny:
          type: string
          description: 주관회사
    PrvsrpCptalUseDtlsResponse:
      oneOf:
        - $ref: '#/components/schemas/PrvsrpCptalUseDtlsResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    PrvsrpCptalUseDtlsResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/PrvsrpCptalUseDtlItem'
          required:
            - list
    PrvsrpCptalUseDtlItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        se_nm:
          type: string
          description: 구분
        tm:
          type: string
          description: |-
            회차
            *③ 2019년 12월 9일부터 추가됨*
        pay_de:
          type: string
          description: 납입일
        pay_amount:
          type: string
          description: |-
            납입금액
            *① 2018년 1월 18일까지 사용됨*
          example: '9,999,999,999'
        cptal_use_plan:
          type: string
          description: |-
            자금사용 계획
            *① 2018년 1월 18일까지 사용됨*
        real_cptal_use_sttus:
          type: string
          description: |-
            실제 자금사용 현황
            *① 2018년 1월 18일까지 사용됨*
        mtrpt_cptal_use_plan_useprps:
          type: string
          description: |-
            주요사항보고서의 자금사용 계획(사용용도)
            *② 2018년 1월 19일부터 추가됨*
        mtrpt_cptal_use_plan_prcure_amount:
          type: string
          description: |-
            주요사항보고서의 자금사용 계획(조달금액)
            *② 2018년 1월 19일부터 추가됨*
          example: '9,999,999,999'
        real_cptal_use_dtls_cn:
          type: string
          description: |-
            실제 자금사용 내역(내용)
            *② 2018년 1월 19일부터 추가됨*
        real_cptal_use_dtls_amount:
          type: string
          description: |-
            실제 자금사용 내역(금액)
            *② 2018년 1월 19일부터 추가됨*
          example: '9,999,999,999'
        dffrnc_occrrnc_resn:
          type: string
          description: 차이발생 사유 등
    PssrpCptalUseDtlsResponse:
      oneOf:
        - $ref: '#/components/schemas/PssrpCptalUseDtlsResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    PssrpCptalUseDtlsResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/PssrpCptalUseDtlItem'
          required:
            - list
    PssrpCptalUseDtlItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        se_nm:
          type: string
          description: 구분
        tm:
          type: string
          description: |-
            회차
            *③ 2019년 12월 9일부터 추가됨*
        pay_de:
          type: string
          description: 납입일
        pay_amount:
          type: string
          description: |-
            납입금액
            *① 2018년 1월 18일까지 사용됨*
          example: '9,999,999,999'
        on_dclrt_cptal_use_plan:
          type: string
          description: |-
            신고서상 자금사용 계획
            *① 2018년 1월 18일까지 사용됨*
        real_cptal_use_sttus:
          type: string
          description: |-
            실제 자금사용 현황
            *① 2018년 1월 18일까지 사용됨*
        rs_cptal_use_plan_useprps:
          type: string
          description: |-
            증권신고서 등의 자금사용 계획(사용용도)
            *② 2018년 1월 19일부터 추가됨*
        rs_cptal_use_plan_prcure_amount:
          type: string
          description: |-
            증권신고서 등의 자금사용 계획(조달금액)
            *② 2018년 1월 19일부터 추가됨*
          example: '9,999,999,999'
        real_cptal_use_dtls_cn:
          type: string
          description: |-
            실제 자금사용 내역(내용)
            *② 2018년 1월 19일부터 추가됨*
        real_cptal_use_dtls_amount:
          type: string
          description: |-
            실제 자금사용 내역(금액)
            *② 2018년 1월 19일부터 추가됨*
          example: '9,999,999,999'
        dffrnc_occrrnc_resn:
          type: string
          description: 차이발생 사유 등
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - se_nm
        - pay_de
        - pay_amount
        - on_dclrt_cptal_use_plan
        - real_cptal_use_sttus
    DrctrAdtAllMendngSttusGmtsckConfmAmountResponse:
      oneOf:
        - $ref: '#/components/schemas/DrctrAdtAllMendngSttusGmtsckConfmAmountResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    DrctrAdtAllMendngSttusGmtsckConfmAmountResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/DrctrAdtAllMendngSttusGmtsckConfmAmountItem'
          required:
            - list
    DrctrAdtAllMendngSttusGmtsckConfmAmountItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        se:
          type: string
          description: 구분
        nmpr:
          type: string
          description: 인원수
        gmtsck_confm_amount:
          type: string
          description: 주주총회 승인금액
          example: '9,999,999,999'
        rm:
          type: string
          description: 비고
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - se
        - nmpr
        - gmtsck_confm_amount
        - rm
    DrctrAdtAllMendngSttusMendngPymntamtTyClResponse:
      oneOf:
        - $ref: '#/components/schemas/DrctrAdtAllMendngSttusMendngPymntamtTyClResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    DrctrAdtAllMendngSttusMendngPymntamtTyClResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/DrctrAdtAllMendngSttusMendngPymntamtTyClItem'
          required:
            - list
    DrctrAdtAllMendngSttusMendngPymntamtTyClItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        se:
          type: string
          description: 구분
        nmpr:
          type: string
          description: 인원수
        pymnt_totamt:
          type: string
          description: 보수총액
          example: '9,999,999,999'
        psn1_avrg_pymntamt:
          type: string
          description: 1인당 평균보수액
          example: '9,999,999,999'
        rm:
          type: string
          description: 비고
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - se
        - nmpr
        - pymnt_totamt
        - psn1_avrg_pymntamt
        - rm
    StockTotqySttusResponse:
      oneOf:
        - $ref: '#/components/schemas/StockTotqySttusResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    StockTotqySttusResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/StockTotqySttusItem'
          required:
            - list
    StockTotqySttusItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        se:
          type: string
          description: 구분
        isu_stock_totqy:
          type: string
          description: Ⅰ. 발행할 주식의 총수
          example: '9,999,999,999'
        now_to_isu_stock_totqy:
          type: string
          description: Ⅱ. 현재까지 발행한 주식의 총수
          example: '9,999,999,999'
        now_to_dcrs_stock_totqy:
          type: string
          description: Ⅲ. 현재까지 감소한 주식의 총수
          example: '9,999,999,999'
        redc:
          type: string
          description: Ⅲ. 현재까지 감소한 주식의 총수(1. 감자)
          example: '9,999,999,999'
        profit_incnr:
          type: string
          description: Ⅲ. 현재까지 감소한 주식의 총수(2. 이익소각)
          example: '9,999,999,999'
        rdmstk_repy:
          type: string
          description: Ⅲ. 현재까지 감소한 주식의 총수(3. 상환주식의 상환)
          example: '9,999,999,999'
        etc:
          type: string
          description: Ⅲ. 현재까지 감소한 주식의 총수(4. 기타)
          example: '9,999,999,999'
        istc_totqy:
          type: string
          description: Ⅳ. 발행주식의 총수 (Ⅱ-Ⅲ)
          example: '9,999,999,999'
        tesstk_co:
          type: string
          description: Ⅴ. 자기주식수
          example: '9,999,999,999'
        distb_stock_co:
          type: string
          description: Ⅵ. 유통주식수
          example: '9,999,999,999'
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - se
        - isu_stock_totqy
        - now_to_isu_stock_totqy
        - now_to_dcrs_stock_totqy
        - redc
        - profit_incnr
        - rdmstk_repy
        - etc
        - istc_totqy
        - tesstk_co
        - distb_stock_co
    AccnutAdtorNmNdAdtOpinionResponse:
      oneOf:
        - $ref: '#/components/schemas/AccnutAdtorNmNdAdtOpinionResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    AccnutAdtorNmNdAdtOpinionResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/AccnutAdtorNmNdAdtOpinionItem'
          required:
            - list
    AccnutAdtorNmNdAdtOpinionItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        bsns_year:
          type: string
          description: 사업연도(당기, 전기, 전전기)
          example: '2019'
        adtor:
          type: string
          description: 감사인
        adt_opinion:
          type: string
          description: 감사의견
        adt_reprt_spcmnt_matter:
          type: string
          description: |-
            감사보고서 특이사항
            *① 2019년 12월 8일까지 사용됨*
        emphs_matter:
          type: string
          description: |-
            강조사항 등
            *② 2019년 12월 9일부터 추가됨*
        core_adt_matter:
          type: string
          description: |-
            핵심감사사항
            *③ 2019년 12월 9일부터 추가됨*
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - bsns_year
        - adtor
        - adt_opinion
        - adt_reprt_spcmnt_matter
        - emphs_matter
        - core_adt_matter
    AdtServcCnclsSttusResponse:
      oneOf:
        - $ref: '#/components/schemas/AdtServcCnclsSttusResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    AdtServcCnclsSttusResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/AdtServcCnclsSttusItem'
          required:
            - list
    AdtServcCnclsSttusItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        bsns_year:
          type: string
          description: 사업연도(당기, 전기, 전전기)
          example: '2019'
        adtor:
          type: string
          description: 감사인
        cn:
          type: string
          description: 내용
        mendng:
          type: string
          description: |-
            보수
            *① 2020년 7월 5일까지 사용됨*
        tot_reqre_time:
          type: string
          description: |-
            총소요시간
            *① 2020년 7월 5일까지 사용됨*
        adt_cntrct_dtls_mendng:
          type: string
          description: |-
            감사계약내역(보수)
            *② 2020년 7월 6일부터 추가됨*
        adt_cntrct_dtls_time:
          type: string
          description: |-
            감사계약내역(시간)
            *② 2020년 7월 6일부터 추가됨*
        real_exc_dtls_mendng:
          type: string
          description: |-
            실제수행내역(보수)
            *② 2020년 7월 6일부터 추가됨*
        real_exc_dtls_time:
          type: string
          description: |-
            실제수행내역(시간)
            *② 2020년 7월 6일부터 추가됨*
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - bsns_year
        - adtor
        - cn
        - mendng
        - tot_reqre_time
        - adt_cntrct_dtls_mendng
        - adt_cntrct_dtls_time
        - real_exc_dtls_mendng
        - real_exc_dtls_time
    AccnutAdtorNonAdtServcCnclsSttusResponse:
      oneOf:
        - $ref: '#/components/schemas/AccnutAdtorNonAdtServcCnclsSttusResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    AccnutAdtorNonAdtServcCnclsSttusResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/AccnutAdtorNonAdtServcCnclsSttusItem'
          required:
            - list
    AccnutAdtorNonAdtServcCnclsSttusItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        bsns_year:
          type: string
          description: 사업연도(당기, 전기, 전전기)
          example: '2019'
        cntrct_cncls_de:
          type: string
          description: 계약체결일
        servc_cn:
          type: string
          description: 용역내용
        servc_exc_pd:
          type: string
          description: 용역수행기간
        servc_mendng:
          type: string
          description: 용역보수
        rm:
          type: string
          description: 비고
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - bsns_year
        - cntrct_cncls_de
        - servc_cn
        - servc_exc_pd
        - servc_mendng
        - rm
    OutcmpnyDrctrNdChangeSttusResponse:
      oneOf:
        - $ref: '#/components/schemas/OutcmpnyDrctrNdChangeSttusResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    OutcmpnyDrctrNdChangeSttusResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/OutcmpnyDrctrNdChangeSttusItem'
          required:
            - list
    OutcmpnyDrctrNdChangeSttusItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        drctr_co:
          type: string
          description: 이사의 수
          example: '9,999,999,999'
        otcmp_drctr_co:
          type: string
          description: 사외이사의 수
          example: '9,999,999,999'
        apnt:
          type: string
          description: 사외이사 변동현황(선임)
          example: '9,999,999,999'
        rlsofc:
          type: string
          description: 사외이사 변동현황(해임)
          example: '9,999,999,999'
        mdstrm_resig:
          type: string
          description: 사외이사 변동현황(중도해임)
          example: '9,999,999,999'
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - drctr_co
        - otcmp_drctr_co
        - apnt
        - rlsofc
        - mdstrm_resig
    NewCaplScritsNrdmpBlceResponse:
      oneOf:
        - $ref: '#/components/schemas/NewCaplScritsNrdmpBlceResponseSuccess'
        - $ref: '#/components/schemas/CommonError'
    NewCaplScritsNrdmpBlceResponseSuccess:
      allOf:
        - $ref: '#/components/schemas/CommonSuccessHeader'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/NewCaplScritsNrdmpBlceItem'
          required:
            - list
    NewCaplScritsNrdmpBlceItem:
      type: object
      properties:
        rcept_no:
          $ref: '#/components/schemas/RceptNo'
        corp_cls:
          $ref: '#/components/schemas/CorpCls'
        corp_code:
          $ref: '#/components/schemas/CorpCode'
        corp_name:
          $ref: '#/components/schemas/CorpName'
        remndr_exprtn1:
          type: string
          description: 잔여만기
        remndr_exprtn2:
          type: string
          description: 잔여만기
        yy1_below:
          type: string
          description: 1년이하
          example: '9,999,999,999'
        yy1_excess_yy5_below:
          type: string
          description: 1년초과 5년이하
          example: '9,999,999,999'
        yy5_excess_yy10_below:
          type: string
          description: 5년초과 10년이하
          example: '9,999,999,999'
        yy10_excess_yy15_below:
          type: string
          description: 10년초과 15년이하
          example: '9,999,999,999'
        yy15_excess_yy20_below:
          type: string
          description: 15년초과 20년이하
          example: '9,999,999,999'
        yy20_excess_yy30_below:
          type: string
          description: 20년초과 30년이하
          example: '9,999,999,999'
        yy30_excess:
          type: string
          description: 30년초과
          example: '9,999,999,999'
        sm:
          type: string
          description: 합계
          example: '9,999,999,999'
      required:
        - rcept_no
        - corp_cls
        - corp_code
        - corp_name
        - remndr_exprtn1
        - remndr_exprtn2
        - yy1_below
        - yy1_excess_yy5_below
        - yy5_excess_yy10_below
        - yy10_excess_yy15_below
        - yy15_excess_yy20_below
[...]
